<TetrisB2>
	<PublicProperties>
		<SelectedSoundtrack name="tetris_soundtrack.mp3"></SelectedSoundtrack>
		<Volume volume="10"></Volume>
		<GridResetScore score="50"></GridResetScore>
	</PublicProperties>
	<PrivateProperties>
		<Blocks width="50" height="50" ></Blocks>
		<GridSize width="10" height="20"></GridSize>
		<RapidFall speed="10"></RapidFall>
	</PrivateProperties>
</TetrisB2>
